@import "../../styles.scss";

// general
.main {
  // width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.green {
  color: #3ad11b;
}
.orange {
  color: #f95100;
}
.red {
  color: #ea0d12;
}

[hidden] {
  transition: $transition;
}

.section {
  width: 100%;
  margin-bottom: 20px;
}

.section-form {
  width: 76%;
  background: $light-grey;
  margin: 20px 3px;
  padding: 15px 0px;
  box-shadow: 0px 0px 0px 1px #0000000f;

  .sbmt-btn-contner {
    margin-top: 25px;
  }

  button[type="submit"] {
    width: 100%;
  }
}

.form-control {
  border: 0px;

  &:focus {
    box-shadow: 0 0 8px rgb(176 178 180 / 60%);
  }
}

.header {
  flex-direction: column;
}

.status-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background: $pink;
  border-color: transparent;
  transition: all 0.4s;
  &:hover,
  &:active:focus {
    background: $dark-pink;
    border-color: transparent;
  }
  &:focus,
  &:visited,
  &:active {
    outline: 0px !important;
    outline-offset: 0px !important;
    border: 0px !important;
    background: $dark-pink;
    border-color: transparent;
  }
}

.result {
  width: 100%;
}

/* SECTION URL --*/
.section-url {
  .grey-container {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 8px;
    background: $light-grey;
    border-radius: 5px;

    .button-get {
      background: white;
    }

    /* input[type="text"] {
      background: transparent;
      border: 0px;
      margin: 0px 20px;
      padding: 9px 12px;

      &:focus {
        outline: none;
        background: #ffffff9c;
        border-radius: 3px;
      }
    } */ //input

    .url {
      margin: 0px 10px;
    }

    #url-send {
      svg {
        display: none;
      }
    }
  } //.grey-container
} //.url-section

/* SECTION RESULTS --*/
.section-results {
  .nobg-container {
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 2px;
    }

    .card {
      width: 25%;
      height: 100% !important;
      margin-right: 5px;
      border: 0px;
      box-shadow: 0px 0px 0px 1px #0000000f;
      min-width: 180px;

      .title {
        padding: 5px;
      }

      .sec {
        width: 100%;
        padding: 5px;
        margin-bottom: 3px;

        .val {
          overflow-wrap: break-word;
        }
      }
    } //.card

    .info {
      .name {
        font-weight: bold;
      }
    } // info
  } //.nobg-container
} // .section-results

.share-container {
  flex-direction: column;
  align-items: center;

  a {
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      color: white;
      background: $pink;
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
  .header {
    //display: flex;
    //flex-direction: column-reverse;
  }

  .section-url {
    min-width: 270px;
    margin: 20px 0px;
    padding: 0px 10px;

    .url {
      overflow-wrap: anywhere;
    }
    #url-send {
      height: 45px;
      p {
        display: none;
      }
      svg {
        display: block !important;
      }
    }
  }

  .section-results {
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      opacity: 0;
    }

    .nobg-container {
      width: fit-content;
      justify-content: flex-start;
      padding: 0 20px;

      .card {
        min-width: 70vw;
      }
    }
  }
}
