@import "../../styles.scss";

// general
.main {
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.green {
  color: #3ad11b;
}
.orange {
  color: #f95100;
}
.red {
  color: #ea0d12;
}

.section {
  width: 100%;
  margin-bottom: 20px;
}


 /* FORM --- */
.section-form {
  width: 76%;
  background: $light-grey;
  margin: 20px 3px;
  padding: 15px 0px;
  box-shadow: 0px 0px 0px 1px #0000000f;

  .row {
    margin: 0px;
  }

  label {
    font-weight: bold;
  }

  .sbmt-btn-contner {
    margin-top: 32px;
  }

  button[type="submit"] {
    width: 100%;
  }
} // form ------

.form-control {
  border: 0px;

  &:focus {
    box-shadow: 0 0 8px rgb(176 178 180 / 60%);
  }
}



 /* STATUS CONTAINER --- */
.header {
  margin-top: 20px;
  flex-direction: column;
}

.status-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-postwoman {
  background-color: $pink !important;
  border-color: transparent !important;
  transition: all 0.4s !important;
  color: white !important;
  &:hover,
  &:active:focus {
    background: $dark-pink !important;
    border-color: transparent !important;
    color: white !important;
  }
  &:focus,
  &:visited,
  &:active {
    outline: 0px !important !important;
    outline-offset: 0px !important !important;
    border: 0px !important !important;
    background: $dark-pink !important;
    border-color: transparent !important;
    color: white !important;
  }
}

.result {
  width: 100%;
}

/* section url --- */
.section-url {
  .grey-container {
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 8px;
    background: $light-grey;
    border-radius: 5px;

    .button-get {
      background: white;
    }

    .url {
      margin: 0px 10px;
    }

    #url-send {
      p {
        margin: 0px;
      }
      svg {
        display: none;
      }
    }
  } //.grey-container
} //.url-section




/* RESULTS CONTAINER --- */
.section-results {
  .nobg-container {
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 2px;
    }

    .card {
      width: 25%;
      height: 100% !important;
      margin-right: 5px;
      border: 0px;
      box-shadow: 0px 0px 0px 1px #0000000f;
      min-width: 180px;

      .title {
        padding: 5px;
      }

      .sec {
        width: 100%;
        padding: 5px;
        margin-bottom: 3px;

        .val {
          overflow-wrap: break-word;
        }
      }
    } //.card

    .info {
      .name {
        font-weight: bold;
      }
    } // info
  } //.nobg-container
} // .section-results




/* SHARE CONTAINER --- */
.share-container {
  flex-direction: column;
  align-items: center;

  a {
    padding: 5px 15px 8px 15px;
    border-radius: 20px;
    color: black;
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      color: white;
      background: $pink;
    }
  }
}

.section-stats {
  margin-top: 20px;

  button {
    width: 100%;
    padding: 0px;
    display: none;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
  .top-container {
    width: 100%;
    height: 40px;
    border-top: 2px solid $dark-grey;
    border-radius: 20px;

    .grey-bar {
      width: 60%;
      height: 10px;
      margin: 15px auto;
      background: $light-grey;
      border-radius: 50px;
    }
  }

  .title{
    padding: 20px 0px 5px 20px;
  }

  .stat {
    padding: 30px 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
} //section-stats





/* Responsive Styles */
@media screen and (max-width: 575px) {
  .section {
    margin-bottom: 0px;
  }

  .section-url {
    min-width: 270px;
    margin: 20px 0px;
    padding: 0px 10px;

    .url {
      overflow-wrap: anywhere;
    }
    #url-send {
      height: 45px;
      p {
        display: none;
      }
      svg {
        display: block !important;
      }
    }
  }

  .section-results {
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      opacity: 0;
    }

    .nobg-container {
      width: fit-content;
      justify-content: flex-start;
      padding: 10px 20px;

      .card {
        min-width: 70vw;
      }
    }
  }

  .section-share {
    margin-bottom: 70px;
  }

  .section-stats {
    position: fixed;
    background: white;
    bottom: 0;
    margin-bottom: 0px;

    button {
      display: block;
    }
  }
} // /media
